<header
  class="navbar navbar-expand-lg navbar-light bg-neutral-10 pt-10 py-4 d-lg-block d-none"
>
  <div class="container">
    <div
      class="navbar-container rounded-pill px-10 py-4 d-flex justify-content-between w-100"
    >
      <div class="left d-flex align-items-center">
        <a class="navbar-brand me-10" href="./index.html">
          <img
            src="../assets/images/logo.png"
            alt="logo"
            width="200"
            class="d-inline-block align-top"
          />
        </a>
        <!-- Toggler for mobile view -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="dropdown me-8">
          <button
            class="nav-link dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            探索
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <!-- Search bar -->
        <form class="d-flex align-items-center position-relative">
          <i class="bi bi-search position-absolute ms-4"></i>
          <input
            class="form-control me-2 ps-12 pe-20 py-4"
            type="search"
            placeholder="搜尋各種音樂、數學、程式及設計課程"
            aria-label="Search"
          />
          <button
            class="btn btn-primary position-absolute end-0 me-4"
            type="submit"
          >
            搜尋
          </button>
        </form>
      </div>
      <!-- Right side buttons -->
      <div class="d-flex align-items-center">
        <button
          class="btn notify-button me-2 position-relative"
          aria-label="Notifications"
        >
          <span
            class="position-absolute translate-middle rounded-circle bg-primary"
            style="width: 10px; height: 10px; right: 0"
          >
          </span>
          <i class="bi bi-bell"></i>
        </button>
        <button
          class="btn cart-button position-relative me-3"
          aria-label="Shopping cart"
        >
          <span
            class="position-absolute rounded-circle bg-primary badge-dot fs-3 text-white"
          >
            2
          </span>
          <i class="bi bi-cart3"></i>
        </button>
        <button class="btn btn-primary">登入 / 註冊</button>
      </div>
    </div>
  </div>
</header>

<header
  class="navbar navbar-expand-lg navbar-light bg-white py-4 d-lg-none d-block"
>
  <div class="container">
    <div
      class="navbar-containe d-flex justify-content-between w-100"
    >
      <div class="left d-flex align-items-center">
        <a class="navbar-brand me-10" href="./index.html">
          <img
            src="../assets/images/logo.png"
            alt="logo"
            width="200"
            class="d-inline-block align-top"
          />
        </a>
      </div>
      <!-- Right side buttons -->
      <div class="d-flex align-items-center">
        <button
          class="btn notify-button me-2 position-relative"
          aria-label="Notifications"
        >
          <span
            class="position-absolute translate-middle rounded-circle bg-primary"
            style="width: 10px; height: 10px; right: 0"
          >
          </span>
          <i class="bi bi-bell"></i>
        </button>
        <button
          class="btn cart-button position-relative me-3"
          aria-label="Shopping cart"
        >
          <span
            class="position-absolute rounded-circle bg-primary badge-dot fs-3 text-white"
          >
            2
          </span>
          <i class="bi bi-cart3"></i>
        </button>
        <!-- Toggler for mobile view -->
        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
        <span>
            <div
              style="width: 20px; height: 3px; background-color: #4b4b4b"
            ></div>
            <div
              style="
                margin-top: 4px;
                width: 20px;
                height: 3px;
                background-color: #4b4b4b;
              "
            ></div
          ></span>
        </button>
      </div>
    </div>
  </div>
</header>
