.hero-card {
  border-radius: 80px;
  width: 1600px;
  @media screen and (max-width: 992px) {
    border-radius: 0;
    width: auto;
    img{
      height: 390px;
      object-fit: cover;
    }
    .explore{
      border-radius: 0px !important;
      // width: 780px;
    }
  }
}

.teacher-desktop{
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
  }
  
  .card:nth-child(odd) {
    transform: translateY(80px);
  }
  
  .card:nth-child(even) {
    transform: translateY(-80px);
  }
  
}
