<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>homepage</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="swiper Swiper-Lesson">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <section class="hero-card position-relative overflow-hidden mx-lg-auto">
            <img src="../assets/images/hero-1.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 ms-lg-10 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-10 rounded-pill d-flex align-items-center"
                >
                  <span class="font-size-14">熱銷課程 🔥</span>
                </button>
                <span class="fw-semibold pe-4 ps-3 fs-lg-4"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8">探索感興趣的課程，今天立即上課</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-arrow-right-short align-bottom"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                  />
                </svg>
              </li>
            </ul>
          </section>
        </div>
        <div class="swiper-slide">
          <section class="hero-card position-relative overflow-hidden mx-lg-auto">
            <img src="../assets/images/hero-2.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 ms-lg-10 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-100 rounded-pill d-flex align-items-center"
                >
                  <span class="font-size-14">熱銷課程 🔥</span>
                </button>
                <span class="fw-semibold pe-4 ps-3 fs-lg-4"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8">探索感興趣的課程，今天立即上課</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-arrow-right-short align-bottom"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                  />
                </svg>
              </li>
            </ul>
          </section>
        </div>
        <div class="swiper-slide">
          <section class="hero-card position-relative overflow-hidden mx-lg-auto">
            <img src="../assets/images/hero-3.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 ms-lg-10 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-100 rounded-pill d-flex align-items-center"
                >
                  <span class="font-size-14">熱銷課程 🔥</span>
                </button>
                <span class="fw-semibold pe-4 ps-3 fs-lg-4"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8">探索感興趣的課程，今天立即上課</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-arrow-right-short align-bottom"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                  />
                </svg>
              </li>
            </ul>
          </section>
        </div>
        <div class="swiper-slide">
          <section class="hero-card position-relative overflow-hidden mx-lg-auto">
            <img src="../assets/images/hero-2.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 ms-lg-10 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-100 rounded-pill d-flex align-items-center"
                >
                  <span class="font-size-14">熱銷課程 🔥</span>
                </button>
                <span class="fw-semibold pe-4 ps-3 fs-lg-4"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8">探索感興趣的課程，今天立即上課</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-arrow-right-short align-bottom"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                  />
                </svg>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="swiper-button-next me-25 p-8 bg-white rounded-4" style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10);"></div>
      <div class="swiper-button-prev ms-25 p-8 bg-white rounded-4" style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10);"></div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".Swiper-Lesson", {
        loop: true,
        slidesPerView: 1,
        centeredSlides: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        1440: {
          slidesPerView: 1,
          spaceBetween: -10,
        },
        1900: {
          slidesPerView: 1,
          spaceBetween: 100,
        },
        1920: {
          slidesPerView: 1,
          spaceBetween: -260,
        },
      },
      });
    </script>
  </body>
</html>
