<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>homepage</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="swiper Swiper-Lesson">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <section
            class="hero-card position-relative overflow-hidden mx-lg-auto d-flex justify-content-lg-start justify-content-center"
          >
            <img src="../assets/images/hero-1.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 p-2 ms-lg-10 mx-4 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-10 rounded-pill d-flex align-items-center"
                >
                  <span
                    class="text-primary fw-semibold font-size-14"
                    style="width: 80px"
                    >熱銷課程 🔥</span
                  >
                </button>
                <span class="fw-semibold pe-4 ps-3fs-lg-4 fs-3"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="mt-12 mt-lg-0 explore fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center justify-content-lg-start justify-content-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8 font-size-14"
                  >探索感興趣的課程，今天立即上課</span
                >
                <i class="bi bi-arrow-right-short fs-lg-12"></i>
              </li>
            </ul>
          </section>
        </div>
        <div class="swiper-slide">
          <section
            class="hero-card position-relative overflow-hidden mx-lg-auto d-flex justify-content-lg-start justify-content-center"
          >
            <img src="../assets/images/hero-2.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 p-2 ms-lg-10 mx-4 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-10 rounded-pill d-flex align-items-center"
                >
                  <span
                    class="text-primary fw-semibold font-size-14"
                    style="width: 80px"
                    >熱銷課程 🔥</span
                  >
                </button>
                <span class="fw-semibold pe-4 ps-3fs-lg-4 fs-3"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="mt-12 mt-lg-0 explore fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center justify-content-lg-start justify-content-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8 font-size-14"
                  >探索感興趣的課程，今天立即上課</span
                >
                <i class="bi bi-arrow-right-short fs-lg-12"></i>
              </li>
            </ul>
          </section>
        </div>
        <div class="swiper-slide">
          <section
            class="hero-card position-relative overflow-hidden mx-lg-auto d-flex justify-content-lg-start justify-content-center"
          >
            <img src="../assets/images/hero-3.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 p-2 ms-lg-10 mx-4 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-10 rounded-pill d-flex align-items-center"
                >
                  <span
                    class="text-primary fw-semibold font-size-14"
                    style="width: 80px"
                    >熱銷課程 🔥</span
                  >
                </button>
                <span class="fw-semibold pe-4 ps-3fs-lg-4 fs-3"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="mt-12 mt-lg-0 explore fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center justify-content-lg-start justify-content-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8 font-size-14"
                  >探索感興趣的課程，今天立即上課</span
                >
                <i class="bi bi-arrow-right-short fs-lg-12"></i>
              </li>
            </ul>
          </section>
        </div>
        <div class="swiper-slide">
          <section
            class="hero-card position-relative overflow-hidden mx-lg-auto d-flex justify-content-lg-start justify-content-center"
          >
            <img src="../assets/images/hero-2.png" alt="" />
            <ul class="position-absolute p-0 m-0 bottom-0">
              <li
                class="fs-lg-4 bg-white rounded-pill p-lg-4 p-2 ms-lg-10 mx-4 mb-lg-8 d-flex align-items-center"
                style="width: fit-content"
              >
                <button
                  type="button"
                  class="btn btn-primary-10 rounded-pill d-flex align-items-center"
                >
                  <span
                    class="text-primary fw-semibold font-size-14"
                    style="width: 80px"
                    >熱銷課程 🔥</span
                  >
                </button>
                <span class="fw-semibold pe-4 ps-3fs-lg-4 fs-3"
                  >給成人的鋼琴入門課，一小時教你彈奏上手！</span
                >
              </li>
              <li
                class="mt-12 mt-lg-0 explore fw-semibold bg-primary text-white py-lg-8 ps-lg-30 pe-lg-20 d-flex align-items-center justify-content-lg-start justify-content-center"
                style="border-radius: 0px 120px 0px 0px"
              >
                <span class="fs-lg-8 font-size-14"
                  >探索感興趣的課程，今天立即上課</span
                >
                <i class="bi bi-arrow-right-short fs-lg-12"></i>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div
        class="swiper-button-next me-25 p-8 bg-white rounded-4 d-none d-xxl-flex"
        style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)"
      ></div>
      <div
        class="swiper-button-prev ms-25 p-8 bg-white rounded-4 d-none d-xxl-flex"
        style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)"
      ></div>
    </div>

    <div class="container my-lg-50">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="fs-lg-10 fw-bold">火熱募資課程</h2>
          <h5 class="fs-lg-3 fw-bold">現在購買最優惠✨</h5>
          <ul class="p-0 d-flex flex-wrap gap-4 mt-lg-10">
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                全部
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                🍽️ 烹飪料理
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                📊 數據分析
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                🎼 音樂製作
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                📝 創意寫作
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                💬 語言學習
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                🖌️ 藝術創作
              </button>
            </li>
          </ul>
          <button type="button" class="btn btn-primary fs-3 px-8 py-4">
            更多募資課程
          </button>
        </div>
        <div class="col-lg-8">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img
                  src="../assets/images/course-1.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title fw-semibold fs-4">
                    創意寫作工坊：從靈感到出版的全過程
                  </h5>
                  <div class="d-flex align-items-center">
                    <img src="../assets/images/avatar-2.png" alt="" width="40"/>
                    <span class="ms-2 fs-3">Kelly Hsu</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <p class="text-primary fs-3 fw-bold">募資進度 81 %</p>
                    <p class="ms-2 fs-3">已有 521 位同學加入</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".Swiper-Lesson", {
        loop: true,
        slidesPerView: 1,
        centeredSlides: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          1000: {
            slidesPerView: 1,
            spaceBetween: 600,
          },
          1440: {
            slidesPerView: 1,
            spaceBetween: 300,
          },
          1900: {
            slidesPerView: 1,
            spaceBetween: 100,
          },
          1920: {
            slidesPerView: 1,
            spaceBetween: -260,
          },
        },
      });
    </script>
  </body>
</html>
